.pagination__list{
    display: flex;
    gap: 10px;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}

.pagination__item{
    font-size: 2rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.page__active{
    background-color: red;
    color: white;
}